{% load static %}
{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Map Test</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=3rh6bpit4g"></script>
</head>

<body>
    <h1>Hello World!</h1>

    <a href = '/accounts/signup'>회원가입</a>

    {% if user.is_authenticated %}
    <a href = '/accounts/logout'>로그아웃</a> <br>
    {{user.username}} 님이 로그인 중

    {% else %}
    <a href = '{% provider_login_url "google" %}'>구글 로그인</a><br>
    <a href = "{% provider_login_url 'google' %}">구글 로그인</a><br>
    로그인을 하시오

    {%endif%}

    <h1>썸네일</h1>

    {% for blog in blog.all %}

    <img src="{{blog.image.url}}" width=400>
    <br>
    {{blog.text}}

    <br><br>
    <img src="{{blog.image_thumbnail.url}}">

    {% endfor%}
    <hr>

    <h1>지도 기능</h1><hr>
    <h3>1. 우리집 지도</h3>
    <div id="map" style="width:400px;height:400px;"></div><br>
    <h3>2. 현 위치</h3>
    <div id="map2" style="width:400px;height:400px;"></div>

    <!-- 장고 기본 jquery 파일 불러오기 -->
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'home/js/map_script.js' %}"></script>
</body>

</html>